.SliderTop{
    display: flex;
    flex-direction:column;
    margin-top:2rem;
}
.SliderButtom{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
}
.Button{
    background-color: #2e8b57 !important;
    color: white !important;
    padding: 1rem 1.5rem !important;
    margin: 5rem 0rem !important;
}
.check{
    padding-right: 10rem;
}

@media (max-width:400px){
    .para{
        font-size: 0.5rem;
        width: 35%;
        font-weight: bold;
    }
    .check{
        padding: 0;
        margin-left: 20px;
    }
    .check1{
        padding-left: 5rem;
    }
   
}