.Option{
    display: flex;
    align-items:center;
    margin-bottom: 1rem 
}
.CircleIcon{
    margin: 0.5rem 2rem 0.5rem 1rem;
    color: #2774AE;
}
@media (max-width:400px){
    .Option{
        align-items:flex-start;
    }
}